!!! 5
%html
  %head
    %title 
      HPS Biodiversity Index
    %link{ rel: 'stylesheet', href: '/css/app.css', type: 'text/css' }
    %link{ rel: 'stylesheet', href: 'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css', type: 'text/css' }

    %script{ src: 'http://code.jquery.com/jquery-1.9.1.js' }
    %script{ src: 'http://code.jquery.com/ui/1.10.3/jquery-ui.js' }
  %body
    .container
      %h1{ id: 'title' }
        %a{ href: '/' } HPS Biodiversity Index
      .ui-widget
        %form#search_box{ action: '/names', method: 'get', name: 'search_box' }
          Search
          %input#names_search{ type: 'text', name: 'search_term', 
            autofocus: true }
          %input#exact_search{ type: 'hidden', value: 'false', name: 'exact_search'}

      #alphabet
        - %w(A B C D E F G H I J K L M N O P Q R S T U V W X Y Z).each do |l|
          %a{ href: "/names?search_term=%s" % l  }= l
          = '&nbsp;'*3
      #sidebar
        %ul
          %li
            %a{ href: :documents }= "Documents searched: (#{Bitstream.count})"
          %li
            %a{ href: :names }= "Scientific Names found: (#{CanonicalForm.where(show: true).count})"

        
      #content
        = yield
    .clear &nbsp;
    #footer
      Version:
      = HpsBioindex::VERSION

:javascript
  $(function() {
    $( "#names_search" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/names.json",
          dataType: "jsonp",
          data: {
            search_term: request.term,
            batch_size: 10
          },
          success: function( data ) {
            response( $.map( data, function( item ) {
              return { value: item.name  }
            }));
          },
        });
      },
      minLength: 1,
      select: function(event, ui) {
        $("#exact_search").val('true');
        $("#names_search").val(ui.item.label);
        $("form#search_box").submit();
      },
    });
  });


