#names.hpszen-i1-b2
  - if @name
    %header.main__header
      .bucket.main__header__bucket
        .panel.main__header__panel{ style: 'margin-bottom: 1em' }
          %h1 
            Scientific Name:
            = @name.name
            - plural = @name.times_found == 1 ? '' : 's'
            = "(found %s time%s)" % [@name.times_found, plural] 
            - if @eol_url
              %a{ href: @eol_url }<
                %img{ src: "/images/eol.png", height: 20, width: 20, style: 'padding-bottom: 0.5em'}
            %a{ href: @google_url }<
              %img{ src: "/images/google.png", height: 20, width: 20, style: 'padding-bottom: 0.5em' }
          - if @vernacular
            %em= @vernacular.name 
    #basic.basic
      .bucket.basic_bucket
        #basic__one.panel.basic__panel
          %h2 HPS Documents
          - @bitstreams.each_with_index do |b, i|
            #item
              = "%s." % (i+1) 
              %a{ href: "http://hpsrepository.asu.edu/handle/%s" % b.items.first.handle }= b.items.first.title
              %a{ href: "http://hpsrepository.asu.edu/bitstream/handle/%s/%s?sequence=1" % [b.items.first.handle, b.file_name.gsub(/\.txt$/, '')]}<  
                %img{ src: '/images/download.png', width: 27, height: 20 }
              %a{ href: "http://hpsrepository.asu.edu/handle/%s" % b.items.first.handle }<  
                %img{ src: '/images/hps.png', width: 40, height: 20 }
              %a{ href: "/documents/%s?name_id=%s" % [b.id, @name.id] }<  
                %img{ src: '/images/text.png', width: 40, height: 20 }
          %br
        #basic__two.panel.basic_panel
          #name_image
            - if (@eol_data.image_url rescue false)
              %a{ href: @eol_url }
                %img{ src: @eol_data.image_url }
          %span#name_details Show More
          #name_details_block{ style: 'display: none' }
            #overview
              %h3 Overview
              - if (@eol_data.overview rescue false)
                = @eol_data.overview
            #synonyms
              %h3 Synonyms
              - unless (@eol_data.eol_data_synonyms.empty? rescue true)
                - synonyms = @eol_data.eol_data_synonyms.map do |s|
                  - synonym_type = s.relationship ? " (%s)" % s.relationship : ''
                  - "%s%s" % [s.name, synonym_type]
                = synonyms.join(', ')
            #vernaculars
              %h3 Vernacular Names
              - unless (@eol_data.eol_data_vernaculars.empty? rescue true)
                - vernaculars = @eol_data.eol_data_vernaculars.sort_by { |x| [x.language, x.name] } 
                - vernaculars = vernaculars.map do |v| 
                  - name = v.name
                  - name = "<span class='highlight'>%s</span>" % name if v.language == 'en'
                  - "%s (%s)" % [name, v.language] 
                = vernaculars.join(', ')

:javascript
   $('#name_details').bind('click', function(event) {                              
      if ($('#name_details_block').is(':hidden')) {                                
        $(this).text('Show Less');                                               
        $('#name_details_block').slideDown();//.css('display','none');             
      } else {                                                                 
         $(this).text('Show More');                                                    
        $('#name_details_block').slideUp();//.css('display','block');              
      }                                                                          
    }                                                                            
  );                                                                             
                                                                                 

